body {
  position: relative;
}
.main {
  margin-left: 500px;
  width: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1200px;
  height: auto;
}
.main .article_munu {
  position: fixed;
  width: 180px;
  height: 100%;
  overflow-y: auto;
}
.main .article_munu h3 {
  text-align: center;
  margin-bottom: 10px;
}
.main .article_munu li {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}
.main .article_munu::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}
.main .article_munu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e4e6eb;
}
.main .article_munu::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff;
}
.main .arrow {
  position: fixed;
  margin-top: 25px;
  border-bottom: 3px solid #008000;
  border-right: 3px solid #008000;
  padding: 3px;
  margin-left: 172px;
  transform: rotate(135deg);
}
.article {
  margin-left: 200px;
  width: auto;
}
.article pre {
  background: #282c34;
  margin: 10px;
  overflow: hidden;
  overflow-x: auto;
}
.article pre code {
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  color: #ccc;
}
.highlight {
  background: #ffc0cb;
  position: relative;
}
.btn-copy {
  display: inline-block;
  cursor: pointer;
  background-color: #eee;
  background: #ffc0cb;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  user-select: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
/* transition: opacity .3s ease-in-out; */
  padding: 2px 6px;
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: 0.3;
  text-align: center;
}
.btn-copy:hover {
  background: #e7f0fd;
  opacity: 1;
}
