nav {
/* position: relative; */
  width: 100%;
  height: 26px;
  background: #17171d;
}
nav ul {
  float: right;
  padding-right: 10px;
  text-align: center;
}
nav ul li {
  float: left;
  height: 26px;
  margin-left: 16px;
  display: inline;
}
nav ul li a {
  line-height: 26px;
  color: #fff;
}
nav ul #JSmy {
  display: none;
}
nav ul .my-setting-container {
  display: none;
  position: absolute;
  margin-top: 26px;
  margin-right: 36px;
  padding-top: 5px;
  right: 0px;
  flex-direction: column;
  justify-items: center;
  white-space: nowrap;
  background: #fff;
}
nav ul .setting-container {
  visibility: hidden;
  position: absolute;
  display: flex;
  margin-top: 26px;
  right: 0px;
  flex-direction: column;
  justify-items: center;
  width: 140px;
  white-space: nowrap;
  background: #fff;
}
nav ul .setting-container .selectDiv {
  transform: scale(1.5, 1.5);
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 3px;
/*关闭状态*/
/*开通状态*/
}
nav ul .setting-container .selectDiv .dashDiv {
  float: right;
  border-radius: 1.8667rem;
  border: 0.03rem solid #cbcbcb;
  background-color: #fff;
  width: 1.26667rem;
  height: 0.613333rem;
  margin-top: 0.5rem;
  margin-right: 0.4rem;
  box-sizing: border-box;
}
nav ul .setting-container .selectDiv .dashDiv .dashSpan {
  border-radius: 50%;
  border: 0.03rem solid #cbcbcb;
  background-color: #fff;
  float: left;
  margin-left: 0.04rem;
  margin-top: 0.019rem;
  width: 0.506rem;
  height: 0.506rem;
  box-sizing: border-box;
}
nav ul .setting-container .selectDiv .dashDivSelectd {
  display: none;
  background-color: #4cd964;
  transition: 0.5s;
  border-radius: 1.8667rem;
  border: 0.03rem solid #fff;
  width: 1.26667rem;
  height: 0.613333rem;
  margin-top: 0.5rem;
  margin-right: 0.4rem;
  float: right;
  box-sizing: border-box;
}
nav ul .setting-container .selectDiv .dashDivSelectd .dashSpan {
  border-radius: 50%;
  border: 0.03rem solid #fff;
  background-color: #fff;
  float: right;
  margin-right: 0.04rem;
  margin-top: 0.019rem;
  width: 0.506rem;
  height: 0.506rem;
  box-sizing: border-box;
}
nav ul .loginDiv {
  display: none;
  height: 350px;
  width: 300px;
  font-family: sans-serif;
  color: #000;
  font-size: 16px;
}
nav ul .loginDiv .close {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  z-index: 99;
  position: relative;
  width: 2px;
  height: 20px;
  background: #000;
  transform: rotate(45deg);
}
nav ul .loginDiv .close:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 2px;
  height: 20px;
  background: #000;
  transform: rotate(270deg);
  margin-right: 10px;
}
nav ul .loginDiv.middle {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
/* 将back旋转180度，背面朝向用户，我这边选y轴的 */
/* 将front旋转180度 */
}
nav ul .loginDiv.middle .form-box {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #fff;
  border-radius: 40px;
}
nav ul .loginDiv.middle .form-box h1 {
  text-align: center;
}
nav ul .loginDiv.middle .form-box .input-normal {
  width: 220px;
  height: 38px;
  margin: 30px auto;
  padding: 0;
  text-align: center;
  border-radius: 20px;
  outline: none;
  display: block;
  transition: 0.3s;
  border: 1px solid #000;
}
nav ul .loginDiv.middle .form-box .btn-submit {
  width: 100px;
  height: 36px;
  margin: auto;
  font-size: 18px;
  text-align: center;
  border-radius: 20px;
  display: block;
  background: #66b1ff;
  transition: 0.3s;
}
nav ul .loginDiv.middle .form-box div p {
  padding-bottom: 10px;
  margin: 30px auto;
  display: block;
  text-align: center;
  color: #000;
}
nav ul .loginDiv.middle .form-box div a {
  color: #66b1ff;
  cursor: pointer;
}
nav ul .loginDiv.middle .front {
  transform: rotateY(0deg);
}
nav ul .loginDiv.middle .back {
  transform: rotateY(-180deg);
}
nav ul .loginDiv.middle .front,
nav ul .loginDiv.middle .back {
  position: absolute;
/* 然后设置为背面朝向用户时不可见 */
  backface-visibility: hidden;
/* 我觉得用linear顺滑一点 */
  transition: 0.3s linear;
}
nav ul .loginDiv.middle-flip .front {
  transform: rotateY(180deg);
}
nav ul .loginDiv.middle-flip .back {
  transform: rotateY(0deg);
}
body {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  height: 100%;
}
main .search-engine {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .search-engine .search-engine-logo {
  width: 210px;
  height: 70px;
  cursor: pointer;
  margin: 0;
}
main .search-engine .search-engine-logo img {
  width: 100%;
  height: 100%;
}
main .search-engine .search_box {
  margin-top: 50px;
  width: 700px;
  height: 100px;
}
main .search-engine .search_box .search_input_text {
  border: 1px solid #b6b6b6;
  width: 600px;
  background: #fff;
  height: 33px;
  line-height: 33px;
  font-size: 18px;
  padding: 3px 0 0 7px;
  border-radius: 5px 0 0 5px;
}
main .search-engine .search_box .search-input-button {
  width: 90px;
  height: 38px;
  color: #fff;
  letter-spacing: 3px;
  background: #3385ff;
  border: 0.5px solid #2d78f4;
  margin-left: -5px;
  vertical-align: top;
  opacity: 0.9;
  border-radius: 0 5px 5px 0;
}
main .search-engine .search_box .search-input-button:hover {
  opacity: 1;
  box-shadow: 0 1px 1px #333;
  cursor: pointer;
}
main .search-engine .search_box .search_logs img {
  width: 32px;
  height: 32px;
  margin-right: 30px;
}
main .search-engine .search_box .suggest {
  width: 607px;
  position: absolute;
  background: #fff;
  display: none;
}
main .search-engine .search_box .suggest ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
main .search-engine .search_box .suggest ul li {
  padding: 3px;
  font-size: 17px;
  line-height: 25px;
  cursor: pointer;
}
main .search-engine .search_box .suggest ul li:hover {
  background-color: #e5e5e5;
}
main .container {
  background-color: #ff0;
  width: 900px;
  height: 460px;
  margin: 70px auto 0;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.3);
  color: #333;
}
main .container .link_logs li {
  display: inline-block;
}
main .container .link_logs li img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 10px;
}
main .container .link_logs li .close {
  display: none;
  float: right;
  margin-left: -5px;
  margin-top: -10px;
  position: relative;
  width: 5px;
  height: 20px;
  background: #f00;
  transform: rotate(45deg);
  margin-right: 10px;
}
main .container .link_logs li .close:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 5px;
  height: 20px;
  background: #f00;
  transform: rotate(270deg);
  margin-right: 10px;
}
main .container .link_logs .plus-icon-container-li {
  position: relative;
  display: none;
}
main .container .link_logs .plus-icon-container-li .plus-icon-container {
  font-size: 50px;
}
main .container .add_link_frame {
  background: #efefef;
  display: block;
  display: none;
  width: 300px;
  height: 175px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
main .container .add_link_frame .close {
  float: right;
  margin-right: 5px;
  color: #909399;
}
main .container .add_link_frame .close:hover {
  color: #409eff;
}
main .container .add_link_frame .url,
main .container .add_link_frame .imageUrl {
  color: #000;
  line-height: 25px;
}
main .container .add_link_frame .url input,
main .container .add_link_frame .imageUrl input {
  border: 0;
  width: 296px;
  line-height: 25px;
}
main .container .add_link_frame .formbtn {
  display: flex;
  justify-content: space-around;
}
